/* Set Class html dan body supaya tidak ada nilai 
shadow margin dan shadow padding bernilai 0 */
html, body { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar - Class ini digunakan untuk membuat komponen navbar */
nav {
  background-color: white;
  color: #50984A;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding: 10px 20px 10px 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #50984A;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}
nav ul li a:hover {
    background-color: #50984A;
    color: white;
    border-radius: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.navbar .logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.navbar .logo span {
    font-size: 2em;
    font-weight: bold;
    color: #50984A;
    margin-left: 10px;
}
/* End Navbar */

/* Carousel */
.carousel-data-card {
    position: relative;
    width: 100%;
}

.carousel-data-card img {
    width: 100%;
    display: block;
}

.carousel-data-card .card {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, 0.5); /* agar teks tetap terbaca */
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    width: 300px;
}
/* End Carousel */

/* Content 1 (Home) - Class ini digunakan untuk membuat konten utama */
.content-1 {
    text-align: center;
} 
.content-1 h1 {
    font-size: 2.5em;
}
.content-1 p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}   
.content-1 .lion-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: 
    url('image/singa.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.content-1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
}

.content-1 .card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.474) ;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    justify-items: left;
    align-items: left;
    margin-bottom: 5%;
}
.content-1 .card .card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.content-1 .card .card-body p{
    font-size: 14px;
    text-align: justify;
    color: white;
}

.content-1 .content .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #50984A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 30%;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    font-weight: bold;
}

.content-1 .content .button:active {
    background-color: #3e7939;
    border-radius: 5px;
    color: white;
}

.content-1 .content .button:hover {
    background-color: #3e7939;
    border-radius: 5px;
    color: white;
}
/* End Content 1 */

/* Content 2 (Gallery) - Class ini digunakan untuk membuat konten kedua yang dibantu oleh bootstrap carousel */
.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.content-2 .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}

.content-2 .gallery {
    width: 90%;
    justify-content: center;
}
/* End Content 2 */

/* About Us - Class ini digunakan untuk membuat konten tentang kami */
.content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
    background-color: black;
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.2);
}
.content-3 .title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    color: white;
}
.content-3 p {
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
    text-align: justify;
}
.content-3 .about-us {
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.content-3 .about-us p {
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
    text-align: justify;
}
.content-3 .anggota {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    color: white;
    font-size: 14px;
    width: 80%;
    justify-content: space-around;
}
/* End About Us */